<center>
  <hr>
  <a class="inline-block px-2 github" href="https://github.com/kev-kim/" style="padding-bottom: none; border-bottom: none;"><img class="" src="/icons/github.svg" alt="Github" width="32"></a>
  <a class="inline-block px-2 linkedin" href="https://www.linkedin.com/in/kev-kim/" style="padding-bottom: none; border-bottom: none;"><img class="" src="/icons/linkedin.svg" alt="Linkedin" width="32"></a>
  <a class="inline-block px-2 instagram" href="https://www.instagram.com/kev.kim_/" style="padding-bottom: none; border-bottom: none;"><img class="" src="/icons/instagram.svg" alt="Instagram" width="32"></a>
  <br>
  <div>&copy; Kevin Kim 2022-2023.</div>
</center>