<link rel="shortcut icon" href="/favicons/favicon.ico?v=kPP08pKEXB">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=kPP08pKEXB" sizes="32x32">
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=kPP08pKEXB" sizes="96x96">
<link rel="icon" type="image/png" href="/favicons/favicon-194x194.png?v=kPP08pKEXB" sizes="194x194" onload>

<script defer>
    if (localStorage.getItem('darkMode')) {
        theme.setAttribute('href', '/css/dark.css');
    }
</script>
{{ partial "toggle.html" . }}